name: Fortune CI Pipeline

on:
  push:
    branches: [ "main" ]
    paths:
      - 'Fortune/src/**'

  pull_request:
    branches: [ "main" ]
    paths:
      - 'Fortune/src/**'


jobs:
  backend-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build & test backend
        working-directory: Fortune
        run: mvn clean verify
